.container {
    position: relative;
    height: 83vh; /* Set the height to full viewport height */
    width: 100%;
    border: 1px solid black;
    background-color: whitesmoke;
    background-image: url("https://img.freepik.com/free-vector/white-abstract-background-design_23-2148825582.jpg");
    background-size: cover; /* Ensure the background image covers the entire container */
    background-position: center; /* Center the background image */
}

@media (max-width: 768px) {
    /* Adjust background image properties for smaller screens */
    .container {
        height: auto; /* Allow the container to adjust its height based on content */
        background-size: contain; /* Change background image size to contain */
        background-position: top; /* Adjust background image position */
    }
}

.img {
    width: 100%; /* Make the image responsive */
    max-width: 100%; /* Limit the maximum width */
    height: 650px; /* Set a fixed height */
}

@media (max-width: 768px) {
    .img {
        height: auto; /* Allow the height to adjust based on the width */
    }
}



.logo {
    width: 40px;
    float: left;
    border-radius: 50%;
    margin-top: px;
    margin-left: 20px;
  }

  .log{
    margin-left: 1300px;
  }
/* 
.box{
    margin-top: 90px;
    margin-left: 200px;
}

.user{
    margin-left : 300px;
    margin-top: 50px;
    width:400px;
    /* padding-left:60px; 
}

.pass{
    margin-left : 300px;
    margin-top: 10px;
    width:400px;
    /* padding-left:60px; 
}

.check{
    margin-left : 300px;
    margin-top: 20px;
}

.login{
    margin-left : 350px;
    margin-top: 20px;
    width:200px;
    /* background-image: url("https://static.vecteezy.com/system/resources/thumbnails/023/669/545/small/abstract-gradient-pink-blue-liquid-wave-background-free-vector.jpg"); 
}

.cust{
    margin-top: 30px;
    margin-left: 300px;
    width:100px;
    height:70px;
    padding : 10px;
}

.cater{
    margin-left: 80px;
    width:100px;
    height:70px;
    padding : 10px;
}


.image{
    /* height: 720px;
    width: 700px; 
    position: absolute;
    top:0;
}

.space{
    padding-left: 10px;
} */
