.registration
{
    height : 800px;
    width : 100%;
    border : 2px solid black;
    background-color: whitesmoke;
    background-image: url("https://img.freepik.com/free-vector/white-abstract-background-design_23-2148825582.jpg");
    background-size: cover; 
    background-position: center; 
}

.box{
    margin-top: 50px;
    margin-left: 350px;
}

.uname{
    margin-left: 60px;
    width: 500px;
    margin-top: 10px;
}


.ownerid{
    margin-left: 36px;
    width: 500px;
    margin-top: 5px;
}

.email{
    margin-left: 93px;
    width: 500px;
    margin-top: 5px;
}

.company{
    margin-left: 18px;
    width: 500px;
    margin-top: 5px;
}

.pwd{
    margin-left: 67px;
    width: 500px;
    margin-top: 5px;
}

.confirm{
    margin-left: 7px;
    width: 500px;
    margin-top: 5px;
}

.phone{
    margin-left: 60px;
    width: 500px;
    margin-top: 5px;
}

.address{
    margin-left: 77px;
    width: 500px;
    margin-top: 5px;
}

.pin{
    margin-left: 77px;
    width: 500px;
    margin-top: 5px;
}

.city{
    margin-left: 107px;
    width: 500px;
    margin-top: 5px;
}

.state{
    margin-left: 100px;
    width: 500px;
    margin-top: 5px;
}

.register{
    position: relative;
    left: 250px;
    top : 30px;
    width:200px;
}

.error {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
  }